/* ClientApp/Pages/UIViewControls/EnumControl.razor.rz.scp.css */
.isadded[b-0noc847iaz]  .mud-input-control>.mud-input-control-input-container {
  background-color: lightgreen;
}

.ischanged[b-0noc847iaz]  .mud-input-control>.mud-input-control-input-container {
  background-color: lightyellow;
}
/* ClientApp/Pages/UIViewControls/JsonObjectViewControl.razor.rz.scp.css */
.metadata-title-name[b-j77fb66j8z] {
  padding-top: 3px;
  padding-bottom: 0;
  display: inline-flex;
  align-items: center;
}

.grouped-settings-panel-header[b-j77fb66j8z] {
  display: flex;
}

.grouped-settings-panel-header[b-j77fb66j8z]  .grouped-settings-panel-header-title {
  margin-right: 15px;
}

.grouped-settings-panel[b-j77fb66j8z]  .mud-expand-panel{
  background-color: #F8F8F8;
}
